<div class="body">
  <div class="login-container">
    <form class="login-form">
      <!-- <fa-icon [icon]="faLock" class="fa-3x"></fa-icon> -->
      <p>Please Enter Your Email To Reset Password</p>
      <div class="input-group">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          required
        />
      </div>
      <button type="submit">Resry The Password</button>
      <div class="bottom-text"></div>
    </form>
  </div>
</div>
