<aside class="sidebar">
  <header>
    <img src="../../../../../assets/logo.png" />
  </header>
  <a routerLink="./books">
    <button>
      <span class="material-symbols-outlined"> </span>
      <span>BOOKS</span>
    </button>
  </a>
  <a routerLink="./add-book">
    <button>
      <span class="material-symbols-outlined"> </span>
      <span>ADD BOOKS</span>
    </button>
  </a>
  <a (click)="logout()">
    <button>
      <span class="material-symbols-outlined"> </span>
      <span>Log out </span>
    </button>
  </a>
</aside>
